body{
    background-color: #262a2b;
    color: white;
}
h1
{
    font-family: "Roboto Light", "Times New Roman", Serif;
    font-size: 60px;
    color: #ff0066;
    text-align: center;
}

h2, h3, h4, h5, h6{
    text-align: center;
    color: #adadad;
}

div{
    width: 70%;
}


li{
    
}

.centered{
    text-align: center;

    margin: auto;
}

.bordered{
    border: 2px solid #1d1d1d;
    display: block;
}

.quote{
    color: #00fcb5;
    opacity: 60%;
}

#introduction{
    text-align: center;
    margin: auto;

}

#story{
    width: 60%;
    text-align: left;
    font-size: 15px;
    margin: 0 auto;
}
#navigation{
    display: block;
    background-color: #1f2324;
    text-align: center;
    padding: 20px;
    margin: 90px auto 0 auto;
    font-size: 15px;
    justify-content: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}

a:link{
    color: #ff0066;
    text-decoration: none;
}
a:visited{
    color: #860033;
    text-decoration: none;
}
a:hover{
    color: #00fcb5;
    font-weight: bold;
    text-decoration: underline;
}
a:active{
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}

p {
    font-family: "DejaVu Sans", "Times New Roman", Serif;
    font-size: 20px;
}